* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sofia", serif;
}

body {
  height: 100vh;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  flex-direction: column;
  background-image: url(images/background.jpeg);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchGame {
  width: 80%;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.matchCard {
  width: calc(49% - 10px);
  max-width: 150px;
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.matchCard:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.matchCard.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border: 3px solid #f5b0cb;
  backface-visibility: hidden;
  background-color: #4d0066;
  border-radius: 5px;
}

.front {
  transform: rotateY(180deg);
}

.timer {
  display: flex;
  flex-direction: row;
  color: #f5b0cb;
  font-size: x-large;
}

@media only screen and (min-width: 600px) {
  .matchCard {
    width: calc(25% - 10px);
    min-height: 200px;
  }
  .matchGame {
    width: 640px;
  }
}

button {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "sofia", serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 20px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #f5b0cb;
  box-shadow: #d580ff 0 -6px 8px inset;
  transform: scale(1.125);
}

button:active {
  transform: scale(1.025);
}

h1 {
  color: #f5b0cb;
  text-align: center;
  margin: 20px;
  font-size: 45px;
}

#minutes,
#seconds {
  color: #f5b0cb;
}
